<nav class="navContainer backdrop-blur-md flex p-2 justify-between items-center flex-wrap">
    <div>
        <img src="../../../assets/learnDevLogoNoBackground.png" routerLink="" class="topIconFull">
        <img src="../../../assets/learnDevFavicoNoBackground.png" routerLink="" class="topIconResponsive">
    </div>
    
    <div class="flex justify-items-end gap-3">
        <button class="text-white" routerLink="/additionalResources">Resources</button>
        <button class="text-white" routerLink="/home">Tutorials</button>
        <button class="text-white" (click)="loginService.logout()">Log Out</button>        
    </div>
</nav>
<div class="divider"></div>