.wrapper{
    margin-bottom: 100px;
}
.titles {
    color: #E2E8F0;
    transition: 0.5s;
}

.titles:hover {
    color: #7DD3FC;
}

.p-6 {
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

.toast-warning{
    color: aqua;
}

#toast-container{
    color: aqua;
}

@media(min-width: 1280px) {
    .rounded-t-lg {
        height: 200px;
        width: 300px;
        object-fit: fill;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
    .rounded-t-lg {
        height: 150px;
        width: 260px;
        object-fit: fill;
    }
}


@media only screen and (max-width: 1280px) and (min-width: 1024px) {
    .rounded-t-lg {
        height: 200px;
        width: 355px;
        object-fit: fill;
    }

    .block {
        max-width: 355px;
    }
}