
.fixed{
    margin-top: 60px;
    margin-left: 70px;
}

.separator {
    margin: 30px 0;
    height: 1px;
    border: none;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%, #ebebf5c7));

}

.w-6 {
    color: #ebebf5c7;
    height: 40px;
}

.jsIcon {
    color: #ebebf5c7;
}

.h-full {
    background-color: inherit;
    /* background: linear-gradient(138deg, rgba(46, 51, 90, 1) 0%, rgba(28, 27, 51, 1) 100%); */
}

.flex {
    color: #ebebf5c7;
    transition: .4s;
}

.flex:hover {
    background: linear-gradient(218deg, rgba(97, 54, 144, 0.8267682072829132) 0%, rgba(28, 27, 51, 0) 76%);
    color: white;
}

.ms-3 {
    font-size: 17px;
    color: #ebebf5c7;
    transition: .4s;
}

.ms-3:hover {
    color: white;
}