.fixed {
    margin-top: 70px;
    z-index: 9999;
    overflow-y: auto;
}
.sr-only {
    background-color: none;
}

.separator {
    margin: 30px 0;
    height: 1px;
    border: none;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%, #ebebf5c7));
}

.w-6 {
    color: #ebebf5c7;
    height: 40px;
}

.jsIcon {
    color: #ebebf5c7;
  
}

.h-full {
    background-color: inherit;
}

.flex {
    color: #ebebf5c7;
    transition: .6s;
}

.flex:hover {
    color: white;
    background-color: #6236903b;

}

.ms-3 {
    font-size: 17px;
    color: #ebebf5c7;
    transition: .4s;
}

.ms-3:hover {
    color: white;
}

@media (max-width: 767px) {
    .fixed {
        width: 230px;
    }
}

@media (min-width: 1024) {
    .fixed {
        height: auto;
        display: hidden;
    }
}