.navbar {
    position: sticky;
    z-index: 1;
    top: 0;
    left: 0;
}

.bg {
    background-size: 100% 100%;
    background-position: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    background-color: rgb(15 23 42);
    z-index: -1;
}

.bodyContainer{
    background-color: inherit;
}
.footer {
    background-color: inherit;
    position: fixed;
}

.heroWrapper{
    max-height: 500px;
}
.relative{
    padding-top: 0;
    margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #E2e8f0;
}

kbd, b {
    color: #7DD3FC;
}

p,
li,
strong {
    color: #94A3B8;
}

.text-4xl{
    color: white;
}

.wrapper {
    margin-top: 25px;
    margin-bottom: 50px;
}

.snippet {
    background-color: #1e293bb0;
    border-width: 1px;
    border-color: rgb(80, 80, 90);
    ;
}

.card{
    z-index: 9999999;
}

@media (max-width: 639px) {
    .bodyHome {
        margin: 0;
    }
}