.navContainer {
    background-color: inherit;
    height: 60px;
    padding: 16px 32px;
}

.topIcon {
    height: 35px;
    width: auto;
    margin-left: 55px;
}

.divider {
    height: 2px;
    background-color: #2e335a;
    width: 100%;
    margin: 0 auto;
    background-image: -webkit-gradient(linear, left bottom, right bottom, color-stop(0.1, #2e335a), color-stop(0.5, #6a1fcc), color-stop(0.98, #2e335a));
}

.text-white {
    letter-spacing: 1.5px;
    color: #ebebf5c7
}

.flex {
    gap: 25px;
}