<nav class="navContainer backdrop-blur-md flex p-2 justify-between items-center flex-wrap">
    <div>
        <img src="../../../assets/learnDevLogoNoBackground.png" class="topIconFull">
        <img src="../../../assets/learnDevFavicoNoBackground.png" class="topIconResponsive">
      </div>

    <div class="flex items-center gap-3">
        <button class="text-white">About Us</button>
        <button class="text-white">Log In</button>
        <button class="signUp-btn border px-2 py-1 rounded-md">Sign
            Up</button>
    </div>
</nav>

<div class="divider"></div>

