<div class="bg min-h-screen flex flex-col justify-between">

  <div class="navbar">
    <app-navbar></app-navbar>
  </div>


  <div class="profile-bar">
    <app-profile-bar></app-profile-bar>
  </div>

  <div class="wrapper lg:pl-[75.5rem] max-sm:px-7">
    <app-watch-later></app-watch-later>
  </div>


  <div class="footer">
    <div class="divider"></div>

    <footer>
      
      <span class="block text-sm text-gray-400 sm:text-center dark:text-gray-400">© 2024 <a href="#"
          class="hover:underline">Learn Dev</a>. All Rights Reserved.
      </span>

    </footer>
  </div>

</div>