.bg {
    background-size: 100% 100%;
    background-position: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    background-color: rgb(15 23 42);
    z-index: -1;
}

.divider {
    height: 2px;
    background-color: #2e335a;
    width: 100%;
    margin: 0 auto;
    background-image: -webkit-gradient(linear, left bottom, right bottom, color-stop(0.1, #1d2038), color-stop(0.5, #1e083b), color-stop(0.98, #222646));
}

.block{
    padding: 15px;
}