<div class="bg min-h-screen flex flex-col justify-between">
    <div class="navbar">
        <app-navbar></app-navbar>
    </div>

    <div class="sidebar">
        <app-sidebar></app-sidebar>
    </div>


    <div class="bodyContent">
        <div class="htmlElements">
            <div class="wrapper lg:pl-[15.5rem] max-sm:px-7">
                <article
                    class="mx-auto my-50 format xl:max-w-3xl format-sm sm:format-base lg:format-lg format-blue dark:format-invert">
                    <header class="mb-4 mt-50 lg:mb-6 not-format">

                        <h1 class="mb-4 text-3xl font-extrabold leading-tight lg:mb-6 lg:text-4xl">
                            HTML Elements</h1>
                    </header>
                    <p class="lead">HTML elements are the building blocks of HTML pages, representing different types of
                        content such as headings, paragraphs, images, links, forms, and more.</p>
                    <p>An HTML element generally consists of the following parts:
                    </p>

                    <pre
                        class="snippet "><code class="language-html text-white backdrop-saturate-125">&lt;tagname attribute ="value"&gt;Content&lt;/tagname&gt;</code></pre>

                    <!-- <kbd>&lt;h1&gt;</kbd>
                    <kbd>&lt;h1&gt;</kbd>
                    <kbd>&lt;h1&gt;</kbd>
                    <kbd>&lt;h1&gt;</kbd> -->

                    <ul>
                        <li>
                            <b>Tag name:</b> The name of the HTML element, such as <kbd>&lt;p&gt;</kbd> for paragraphs,
                            <kbd>&lt;h1&gt;</kbd> for headings, <kbd>&lt;a&gt;</kbd> for links, etc.
                        </li>
                        <li>
                            <b>Attributes:</b> Optional attributes provide additional information about an element.
                            Attributes
                            are placed within the opening tag and can modify the element's behavior or appearance.
                            Example: <kbd>&lt;href&gt;</kbd>
                            attribute for links.
                        </li>
                        <li>
                            <b>Content:</b> The actual content enclosed between the opening and closing tags. This could
                            be
                            text, other HTML elements, or multimedia.
                        </li>
                    </ul>

                    <h2>Commonly Used HTML Elements
                    </h2>

                    <ol>
                        <li>
                            <p>
                                <b>Headings:</b> Used for titles and subtitles
                            </p>
                            <pre class="snippet"><code class="language-html text-white">&lt;h1&gt;This is a heading&lt;/h1&gt;   
&lt;h2&gt;This is a subheading&lt;/h2&gt;</code></pre>
                        </li>

                        <li>
                            <p>
                                <b>Paragraphs:</b> Used for blocks of text.
                            </p>
                            <pre
                                class="snippet"><code class="language-html text-white">&lt;p&gt;This is a paragraph.&lt;/p&gt;</code></pre>
                        </li>

                        <li>
                            <p>
                                <b>Links:</b> Used for navigation or directing users to other web pages.
                            </p>
                            <pre
                                class="snippet"><code class="language-html text-white">&lt;a href="https://www.example.com"&gt;Visit Example&lt;/a&gt;</code></pre>
                        </li>

                        <li>
                            <p>
                                <b>Images:</b> Used to display images on a web page.
                            </p>
                            <pre
                                class="snippet"><code class="language-html text-white">&lt;img src="image.jpg" alt="Description of the image"&gt;&gt;</code></pre>
                        </li>

                        <li>
                            <p>
                                <b>Lists:</b> Used to create ordered or unordered lists.
                            </p>
                            <pre class="snippet"><code class="language-html text-white">&lt;ul&gt;
    &lt;li&gt;Item 1&lt;/li&gt;
    &lt;li&gt;Item 2&lt;/li&gt;
&lt;/ul&gt;                   
                                
&lt;ol&gt;
    &lt;li&gt;Item 1&lt;/li&gt;
    &lt;li&gt;Item 2&lt;/li&gt;
&lt;/ol&gt;</code></pre>
                        </li>



                        <li>
                            <p>
                                <b>Forms:</b> Used to collect user input.
                            </p>
                            <pre class="snippet"><code class="language-html text-white">&lt;action="/submit-form"&gt;
    &lt;input type="text" name="username" placeholder="Enter your username"&gt;
    &lt;button type="submit"&gt;Submit&lt;/button&gt;
&lt;/form&gt;      </code></pre>
                        </li>
                    </ol>

                    <h2> Conclussion</h2>
                    <p>Understanding HTML elements is essential for web development. By mastering these basics, you can
                        create structured and meaningful web pages. Experiment with different elements and attributes to
                        see how they affect the appearance and functionality of your web pages.</p>
                </article>


            </div>
        </div>
    </div>
    
    
    <div clas="footer">
        <app-footer></app-footer>
    </div>


</div>
