.bg {
    background-size: 100% 100%;
    background-position: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    background-image: radial-gradient(18% 28% at 18% 71%, #20199259 6%, #073AFF00 100%), radial-gradient(70% 53% at 36% 76%, rgb(15, 41, 76) 0%, #073AFF00 100%), radial-gradient(18% 28% at 35% 87%, #0C2D28FF 7%, #073AFF00 100%), radial-gradient(31% 43% at 7% 98%, #0f1729 24%, #073AFF00 100%), radial-gradient(35% 56% at 91% 74%, #0f1729 9%, #073AFF00 100%), radial-gradient(74% 86% at 67% 38%, #0f1729 24%, #2b022b63 100%), linear-gradient(125deg, #0f1729 1%, rgb(7, 101, 145) 100%);
    z-index: -1;
}

.divider {
    height: 2px;
    background-color: #2e335a;
    width: 100%;
    margin: 0 auto;
    background-image: -webkit-gradient(linear, left bottom, right bottom, color-stop(0.1, #2e335a), color-stop(0.5, #6a1fcc), color-stop(0.98, #2e335a));
}

.navbar {
    position: sticky;
    z-index: 1;
    top: 0;
    left: 0;
}

.w-full {
    height: auto;
}

.parent {
    max-height: 540px;
}

.children {
    position: relative;
    display: flex;
    top: -100px;
    border-radius: 20px 20px 0 0;
    background: linear-gradient(146deg, rgba(33, 13, 62, 0.753) 42%, rgba(36, 81, 140, 0.685) 100%);
    backdrop-filter: blur(3px);
    height: 150px;
    max-width: 800px;
    margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #E2e8f0;
}

kbd,
b {
    color: #7DD3FC;
}

a {
    text-decoration: none;
    color: #7DD3FC;

}

p,
li,
strong {
    color: #94A3B8;
}

.wrapper {
    margin-top: 25px;
    margin-bottom: 50px;
}

.snippet {
    background-color: #1e293bb0;
    border-width: 1px;
    border-color: rgb(80, 80, 90);
    ;
}