<div class="bg  min-h-screen flex flex-col justify-between">
    <div class="navbar">
        <app-navbar></app-navbar>
    </div>

    <div class="p-5 mx-auto sm:p-10 md:p-16 dark:bg-gray-100 dark:text-gray-800">
        <div class="flex flex-col max-w-4xl mx-auto overflow-hidden rounded">
            <div class="parent"><img
                    src="https://t4.ftcdn.net/jpg/03/08/69/75/360_F_308697506_9dsBYHXm9FwuW0qcEqimAEXUvzTwfzwe.jpg"
                    alt="" class="w-full sm:h-96 dark:bg-gray-500">
                <!-- BODY -->

                <div class="children">
                    <header class="mx-auto mb-4 mt-50 lg:mb-6 not-format">

                        <h1 class="mb-4 text-3xl font-extrabold leading-tight lg:mb-6 lg:text-4xl"
                            style="display: flex; justify-content: center; text-align: center; margin-top: 25px;">
                            Essential tools for developers<br>
                            Frontend and Backend</h1>
                    </header>
                </div>

            </div>
            <article
                class=" mx-auto my-50 format xl:max-w-3xl format-sm sm:format-base lg:format-lg format-blue dark:format-invert">

                <p class="lead">In the dynamic world of fullstack development, having the right tools can significantly
                    streamline workflows and boost productivity. Whether you're a seasoned developer or just starting
                    out, here are some indispensable tools across the stack that can enhance your development
                    experience:


                </p>


                <h2>Getting Started?</h2>
                <p>An excellent IDE is the cornerstone of efficient coding. For fullstack development, as well as having
                    a Version Control system for collaborative or personal projects.
                </p>

                <ul>
                    <li><a href="https://code.visualstudio.com/" target="_blank">Visual Studio Code </a>
                        <p>Highly popular and versatile code editor known for its lightweight yet powerful features. It
                            supports a wide range of languages and extensions, making it suitable for fullstack
                            development. Its integration with Git also simplifies version control.</p>
                    </li>

                    <li><a href="https://docs.github.com/en/get-started/start-your-journey/about-github-and-git"
                            target="_blank">Git and Github</a>
                        <p>Git is a widely-used version control system that enables efficient tracking of changes in
                            code,
                            essential for both personal and collaborative projects. GitHub, a hosting service for Git
                            repositories, provides additional features like issue tracking and pull requests, enhancing
                            collaboration.</p>
                    </li>


                </ul>

                <h2>For Frontend Development</h2>
                <p>An excellent IDE is the cornerstone of efficient coding. For fullstack development, as well as having
                    a Version Control system for collaborative or personal projects.
                </p>

                <ul>
                    <li><a href="https://tailwindcss.com/docs/installation" target="_blank">Tailwind</a>
                        <p>Is a utility-first CSS framework that allows you to quickly build custom designs without
                            writing traditional CSS styles. It's excellent for creating responsive and highly
                            customizable UI components.</p>
                    </li>

                    <li><a href="https://getbootstrap.com/docs/5.3/getting-started/introduction/"
                            target="_blank">Bootstrap</a>
                        <p>Is a front-end framework that provides pre-built components and responsive layouts for faster
                            and easier web development. It's known for its extensive documentation and large community
                            support.</p>
                    </li>

                    <li><a href="https://www.figma.com/" target="_blank">Figma</a>
                        <p>Web-based UI/UX design tool that enables real-time collaboration. It's known for its
                            intuitive interface, robust prototyping capabilities, and seamless design-to-development
                            workflow.</p>
                    </li>

                    <li><a href="https://responsively.app/" target="_blank">Responsively</a>
                        <p>Developer tool that helps visualize and debug responsive designs by simultaneously previewing
                            websites on multiple device screens. It simplifies testing and ensures consistent user
                            experiences across different devices.</p>
                    </li>

                    <li><a href="https://fonts.google.com/" target="_blank">Google Fonts</a>
                        <p>Provides a vast collection of free and open-source fonts that can be easily embedded into web
                            pages. It's known for its accessibility, variety, and ease of integration with web projects.
                        </p>
                    </li>

                    <li><a href="https://lottiefiles.com/" target="_blank">Lottie Files</a>
                        <p>Animation file format that enables designers to export animations from Adobe After Effects as
                            JSON files. Lottie Files provides a library of animations that can be easily used in web and
                            mobile applications.</p>
                    </li>

                    <li><a href="https://coolors.co/" target="_blank">Coolors</a>
                        <p>Color scheme generator that helps designers and developers create harmonious color palettes.
                            It offers tools for exploring, adjusting, and exporting color schemes for use in web
                            projects.</p>
                    </li>

                    <li><a href="https://grid.layoutit.com/" target="_blank">Layoutit!</a>
                        <p>CSS grid layout generator that allows developers to quickly prototype and create responsive
                            layouts using an intuitive drag-and-drop interface. It simplifies the process of building
                            complex grid-based designs.</p>
                    </li>
                </ul>
                <div class="absolute inset-x-0 top-[calc(90%-50rem)] -z- transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]"
                    aria-hidden="true">
                    <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#3b71ca] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]"
                        style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
                    </div>
                </div>
                <h2>For Backend Development</h2>
                <p>An excellent IDE is the cornerstone of efficient coding. For fullstack development, as well as having
                    a Version Control system for collaborative or personal projects.
                </p>

                <ul>
                    <li><a href="https://nodejs.org/en" target="_blank">Node.js</a>
                        <p>Runtime environment that allows developers to run JavaScript on the server-side. It's known
                            for its event-driven architecture, non-blocking I/O operations, and vast ecosystem of
                            libraries (npm)</p>
                    </li>

                    <li><a href="https://expressjs.com/" target="_blank">Express</a>
                        <p>Minimalist and flexible Node.js web application framework that provides a robust set of
                            features for building web and mobile applications. It simplifies routing, middleware
                            integration, and handling HTTP requests.</p>
                    </li>

                    <li><a href="https://www.postman.com/" target="_blank">Postman</a>
                        <p>Collaboration platform for API development that simplifies the process of designing, testing,
                            and documenting APIs. It offers features like automated testing, mock servers, and API
                            monitoring.</p>
                    </li>

                    <li><a href="https://www.mongodb.com/" target="_blank">MongoDB</a>
                        <p>NoSQL database known for its flexibility, scalability, and ease of use. It stores data in
                            JSON-like documents and is widely used in modern web applications for its ability to handle
                            large volumes of dat</p>
                    </li>

                    <li><a href="https://angular.dev/overview" target="_blank">Angular</a>
                        <p>TypeScript-based front-end web application framework maintained by Google. It provides a
                            comprehensive solution for building dynamic single-page applications (SPAs) with features
                            like two-way data binding and dependency injection.</p>
                    </li>

                    <li><a href="https://es.react.dev/reference/react" target="_blank">React</a>
                        <p>JavaScript library for building user interfaces, developed and maintained by Facebook. It's
                            known for its component-based architecture, virtual DOM, and high performance, making it
                            ideal for building interactive UIs.</p>
                    </li>

                    <li><a href="https://vuejs.org/" target="_blank">Vue.js</a>
                        <p>Progressive JavaScript framework for building UIs and single-page applications. It's known
                            for its simplicity, flexibility, and ease of integration, making it a popular choice among
                            developers.</p>
                    </li>
                </ul>

                <h2>Practicing Tools</h2>
                <p>Need to practice your coding skills online? Try one of these!:
                </p>
                <ul>
                    <li><a href="https://codepen.io/pen/" target="_blank">Codepen</a>
                        <p>Online community and development environment for front-end designers and developers. It
                            allows users to create and share HTML, CSS, and JavaScript code snippets, making it ideal
                            for prototyping and learning.</p>
                    </li>

                    <li><a href="https://jsfiddle.net/" target="_blank">JSFiddle</a>
                        <p>Online IDE that allows developers to write and test HTML, CSS, and JavaScript code snippets.
                            It provides a collaborative environment for debugging and sharing code.</p>
                    </li>

                    <li><a href="https://cssdeck.com/" target="_blank">CSS Deck</a>
                        <p>Web-based IDE for experimenting with CSS and HTML. It's designed for quick prototyping and
                            sharing of CSS-based designs and animations.</p>
                    </li>
                </ul>

                <div class="divider"></div>

                <p>Choosing the right tools is crucial for successful fullstack development, empowering developers to
                    build scalable, efficient, and maintainable applications. Whether it's IDEs for coding, frameworks
                    for frontend development, or containerization tools for deployment, investing in the right set of
                    tools can significantly enhance your development process. Stay updated with the latest advancements
                    and continuously explore new tools to adapt to evolving technological landscapes. Happy coding!
                </p>
            </article>

        </div>

    </div>



    <div clas="footer">
        <app-footer></app-footer>
    </div>


</div>