<div class="bg">
    <div class="navbar">
        <app-navbar></app-navbar>
    </div>

    <div class=" p-5 mx-auto sm:p-10 md:p-16 dark:bg-gray-100 dark:text-gray-800">
        <div class="flex flex-col max-w-4xl mx-auto overflow-hidden rounded">
            <div class="parent"><img
                    src="https://t4.ftcdn.net/jpg/03/08/69/75/360_F_308697506_9dsBYHXm9FwuW0qcEqimAEXUvzTwfzwe.jpg"
                    alt="" class="w-full sm:h-96 dark:bg-gray-500">
                <!-- BODY -->
                <div class="children">
                    <header class="mx-auto mb-4 mt-50 lg:mb-6 not-format">

                        <h1 class="mb-4 text-3xl font-extrabold leading-tight lg:mb-6 lg:text-4xl"
                            style="display: flex; justify-content: center; text-align: center; margin-top: 25px;">
                            Essential tools for developers<br>
                            Frontend and Backend</h1>
                    </header>
                </div>

            </div>
            <article
                class=" mx-auto my-50 format xl:max-w-3xl format-sm sm:format-base lg:format-lg format-blue dark:format-invert">

                <p class="lead">In the dynamic world of fullstack development, having the right tools can significantly
                    streamline workflows and boost productivity. Whether you're a seasoned developer or just starting
                    out, here are some indispensable tools across the stack that can enhance your development
                    experience:


                </p>


                <h2>Getting Started?</h2>
                <p>An excellent IDE is the cornerstone of efficient coding. For fullstack development, as well as having
                    a Version Control system for collaborative or personal projects.
                </p>

                <ul>
                    <li><a href="https://code.visualstudio.com/" target="_blank">Visual Studio Code </a>
                    </li>

                    <li><a href="https://docs.github.com/en/get-started/start-your-journey/about-github-and-git"
                            target="_blank">Git and Github</a>
                    </li>


                </ul>

                <h2>For Frontend Development</h2>
                <p>An excellent IDE is the cornerstone of efficient coding. For fullstack development, as well as having
                    a Version Control system for collaborative or personal projects.
                </p>

                <ul>
                    <li><a href="https://tailwindcss.com/docs/installation" target="_blank">Tailwind</a>
                    </li>

                    <li><a href="https://getbootstrap.com/docs/5.3/getting-started/introduction/"
                            target="_blank">Bootstrap</a>
                    </li>

                    <li><a href="https://www.figma.com/" target="_blank">Figma</a>
                    </li>

                    <li><a href="https://responsively.app/" target="_blank">Responsively</a>
                    </li>

                    <li><a href="https://fonts.google.com/" target="_blank">Google Fonts</a>
                    </li>

                    <li><a href="https://lottiefiles.com/" target="_blank">Lottie Files</a>
                    </li>

                    <li><a href="https://coolors.co/" target="_blank">Coolors</a>
                    </li>
                </ul>

                <h2>For Backend Development</h2>
                <p>An excellent IDE is the cornerstone of efficient coding. For fullstack development, as well as having
                    a Version Control system for collaborative or personal projects.
                </p>

                <ul>
                    <li><a href="https://nodejs.org/en" target="_blank">Node.js</a>
                    </li>

                    <li><a href="https://expressjs.com/" target="_blank">Express</a>
                    </li>

                    <li><a href="https://www.postman.com/" target="_blank">Postman</a>
                    </li>

                    <li><a href="https://www.mongodb.com/" target="_blank">MongoDB</a>
                    </li>

                    <li><a href="https://angular.dev/overview" target="_blank">Angular</a>
                    </li>

                    <li><a href="https://es.react.dev/reference/react" target="_blank">React</a>
                    </li>

                    <li><a href="https://vuejs.org/" target="_blank">Vue.js</a>
                    </li>
                </ul>


                <p>Choosing the right tools is crucial for successful fullstack development, empowering developers to
                    build scalable, efficient, and maintainable applications. Whether it's IDEs for coding, frameworks
                    for frontend development, or containerization tools for deployment, investing in the right set of
                    tools can significantly enhance your development process. Stay updated with the latest advancements
                    and continuously explore new tools to adapt to evolving technological landscapes. Happy coding!




                </p>
            </article>

        </div>

    </div>



    <div clas="footer">
        <app-footer></app-footer>
    </div>


</div>