<div class="bg">
    <div class="navbar">
        <app-navbar></app-navbar>
    </div>

    <div class="sidebar">
        <app-sidebar></app-sidebar>
    </div>


    <div class="bodyContent">
        <div class="htmlElements">
            <div class="wrapper lg:pl-[15.5rem] max-sm:px-7">
                <article
                    class="mx-auto my-50 format xl:max-w-3xl format-sm sm:format-base lg:format-lg format-blue dark:format-invert">
                    <header class="mb-4 mt-50 lg:mb-6 not-format">

                        <h1 class="mb-4 text-3xl font-extrabold leading-tight lg:mb-6 lg:text-4xl">
                            Formatting in HTML</h1>
                    </header>
                    <p class="lead">HTML provides several tags and attributes for formatting text and content. These
                        options help you structure and style your web pages effectively.
                    </p>


                    <h2>Tags to add format</h2>
                    <p>HTML provides tags such as bold, italic, underline, and more.
                    </p>

                    <ul>
                        <li>
                            <b>Bold text: </b> Use <kbd>&lt;strong&gt;</kbd> or <kbd>&lt;b&gt;</kbd> tags.

                            <pre class="snippet"><code class="language-html text-white">&lt;strong&gt;This text is bold&lt;/strong&gt;   
&lt;b&gt;This text is also bold&lt;/b&gt;</code></pre>

                        </li>
                        <li>
                            <b>Italic text:</b> Use <kbd>&lt;em&gt;</kbd> or <kbd>&lt;i&gt;</kbd>.

                            <pre class="snippet"><code class="language-html text-white">&lt;em&gt;This text is italicized&lt;/em&gt;   
&lt;i&gt;This text is also italicized&lt;/i&gt;</code></pre>
                        </li>
                        <li>
                            <b>Underline:</b> Use the <kbd>&lt;u&gt;</kbd> tag.
                            <pre
                                class="snippet"><code class="language-html text-white">&lt;u&gt;This text is underlined&lt;/u&gt;   </code></pre>
                        </li>
                    </ul>

                    <h2>Heading Tags
                    </h2>
                    <p>HTML heading tags (<kbd>&lt;h1&gt;</kbd> to <kbd>&lt;h6&gt;</kbd>) are used to define headings
                        and subheadings on a web page. They range from largest (<kbd>&lt;h1&gt;</kbd>) to smallest
                        (<kbd>&lt;h6&gt;</kbd>).
                    </p>

                    <h2>Line Breaks</h2>
                    <p>
                        <b>Line break:</b> Use <kbd>&lt;br1&gt;</kbd> to insert a line break.
                    </p>
                    <pre class="snippet"><code class="language-html text-white">This text is on the first line.&lt;br&gt;   
This text is on the second line.</code></pre>

                    <kbd>&lt;pre&gt;</kbd>
                    <kbd>&lt;h6&gt;</kbd>

                    <h2>Preformatted Text</h2>
                    <p>The <kbd>&lt;pre&gt;</kbd> tag preserves both spaces and line breaks within the text.</p>
                    <pre class="snippet"><code class="language-html text-white">&lt;pre&gt;
This text
    will be
      displayed
    exactly
 as

written
&lt;/pre&gt;</code></pre>

                    <h2>Quotations and Citations</h2>
                    <ol>
                        <li>
                            <p>
                                <b>Blockquote:</b> &lt;li&gt;blockquote&lt;/li&gt; for longer quotations.
                            </p>
                            <pre
                                class="snippet"><code class="language-html text-white">&lt;blockquote&gt;This is a longer quotation that spans multiple lines.&lt;/blockquote&gt;</code></pre>
                        </li>

                        <li>
                            <p>
                                <b>Citation:</b> Use &lt;li&gt;cite&lt;/li&gt; tag to define the title of a work (e.g.,
                                a book, movie).
                            </p>
                            <pre
                                class="snippet"><code class="language-html text-white">&lt;p&gt;The book &lt;cite&gt;The Great Gatsby&lt;/cite&gt; was written by F. Scott Fitzgerald.&lt;/p&gt;</code></pre>
                        </li>
                    </ol>

                    <h2>Conclussion</h2>
                    <p>HTML formatting tags allow you to enhance the readability and structure of your web content. By
                        mastering these basic tags, you can create visually appealing and well-organized web pages.
                    </p>
                </article>
            </div>
        </div>
    </div>

    <div clas="footer">
        <app-footer></app-footer>
    </div>


</div>