
.wrapper {
    z-index: 999999;
}

.bg-gray-50 {
    background-color: #1e293b67;
    border-width: 1px;
    border-color: rgb(80, 80, 90);
    font-size: 20px;
}

.title {
    text-align: center;

}

.snippet {
    border-left: 7px solid green;
    margin: 0;
}

.text-4xl{
    text-align: CENTER;
    margin-bottom: 50px;
    font-size: 3em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #E2e8f0;
}

kbd,
b, button {
    color: #7DD3FC;
}

p,
li,
strong {
    color: #94A3B8;
}

.navbar {
    position: sticky;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
}

.bg {
    background-size: 100% 100%;
    background-position: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    background-image: radial-gradient(18% 28% at 18% 71%, #20199259 6%, #073AFF00 100%), radial-gradient(70% 53% at 36% 76%, rgb(16, 6, 51) 0%, #073AFF00 100%), radial-gradient(18% 28% at 35% 87%, rgb(12, 25, 45) 7%, #073AFF00 100%), radial-gradient(31% 43% at 7% 98%, #290f29 24%, #073AFF00 100%), radial-gradient(35% 56% at 91% 74%, #0f1729 9%, #073AFF00 100%), radial-gradient(74% 86% at 67% 38%, #0f1729 24%, #073AFF00 100%), linear-gradient(125deg, #0f1729 1%, rgb(48, 7, 145) 100%);
    z-index: -1;
}

.footer {
    background-color: inherit;
    position: fixed;
}

@media(max-width: 600px) {
    .bg-gray-50 {
        max-width: 80%;
    }
}

@media(max-width: 515px) {
    .bg-gray-50 {
        max-width: 320px;
    }
}